.post {
  width: 900px;
  margin: 0 auto;
}

.comment-margin {
  margin: 1em 0 1em 2em;
}

.comment-border {
  border: 2px solid black;
  padding: 1em;
}

.vote-group {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  justify-content: space-between;
}

.comment-button-group {
  display: flex;
  justify-content: space-between;
}

.comment-border button {
  border-radius: 5px;
  height: 3em;
  cursor: pointer;
}


.comment-input textarea {
  width: 80%;
  min-height: 5em;
}

.comment-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-delete-buttons {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
